@model TodoListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Fecha Creación
            </th>
            <th>
                Todo
            </th>
            <th>
                Estado
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistradoAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @if (item.Activo == true)
                    {
                        <span>Activo</span>
                    }
                    else
                    {
                        <span>Finalizado</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
